<div class="page-title">Login</div>

<div class="login-container">
  <div class="login-box">
    <div class="login-logo">seja bem-vindo(a)!</div>

    <form>
      <input
        type="email"
        class="login-input"
        placeholder="E-mail"
        autocomplete="off"
        required
      />

      <input
        type="password"
        class="login-input"
        placeholder="Senha"
        autocomplete="off"
        required
      />

      <button type="submit" class="login-button">Entrar</button>
      <button type="submit" class="login-button">cadastrar</button>
    </form>

    
  </div>
</div>
